<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.19/jquery.touchSwipe.min.js"></script>
<script src="/js/app/navbar-dropdown.js"></script>
<script src="/js/app/index-theme.js"></script>
<!--index.js-->
<script src="/js/app/index.js"></script>
<script src="/js/app/room.js"></script>

</body>
</html>