{{>contract/contract-select}}
<div>계약한 방 선택하기 : 계약서 등록</div>
{{>layout/footer}}
<script type="text/javascript" src="/js/app/contract-select.js"></script>
<script type="text/javascript" src="/js/app/contract-select-register.js"></script>
</body>
</html>