{{>contract/contract-select}}
<div>계약할 방 선택하기 : 계약서 작성</div>
{{>layout/footer}}
<script type="text/javascript" src="/js/app/contract-select.js"></script>
<script type="text/javascript" src="/js/app/contract-select-write.js"></script>
</body>
</html>