{{>contract/contract-select}}
{{>layout/footer}}
<script type="text/javascript" src="/js/app/contract-select.js"></script>
<script type="text/javascript" src="/js/app/contract-select-write.js"></script>
</body>
</html>