<div class="room-title">
    <div class="display-6">방 관리하기</div>
</div>

<div class="room-menu">
    <div>
        <ul>
            <li class="subtitle">
                <button id="btnSaveRoom">방 등록</button>
            </li>
            <li class="subtitle">
                <button id="btnManageRoom">방 관리</button>
            </li>
        </ul>
    </div>
</div>